[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JiHoonJeon (supawer0728)
[access "refs/for/refs/*"]
	read = group user/JiHoonJeon (supawer0728)
	push = group user/JiHoonJeon (supawer0728)
	label-Code-Review = -2..+2 group user/JiHoonJeon (supawer0728)
	label-Verified = -1..+1 group user/JiHoonJeon (supawer0728)
	rebase = group user/JiHoonJeon (supawer0728)
	removeReviewer = group user/JiHoonJeon (supawer0728)
	submit = group user/JiHoonJeon (supawer0728)
[access "refs/heads/*"]
	read = group user/JiHoonJeon (supawer0728)
	create = group user/JiHoonJeon (supawer0728)
	push = +force group user/JiHoonJeon (supawer0728)
	pushMerge = group user/JiHoonJeon (supawer0728)
[access "refs/tags/*"]
	push = group user/JiHoonJeon (supawer0728)
	push = +force group user/JiHoonJeon (supawer0728)
